.task_card_main_body {
  box-shadow: 1px 1px 1px 1px #c7c7c7;
  border-radius: 5px;
  font-weight: 600;
}

.task_card_main_body:hover button {
  visibility: visible;
  opacity: 1;
}
.card_body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_body button {
  font-size: 18px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s;
  margin-right: 5px;
}
